// *<------------------//General styles applied throughout portfolio------------------>
// clarifying font size for whole portfolio
:root {
  font: 16px;
}

body {
  // *<------------------------SCROLLBAR---------------------------->
  // Changes size of scrollbar and scrollbar track as well as the static and hover color
  &::-webkit-scrollbar {
    width: 0.5rem;
  }
  &::-webkit-scrollbar-track {
    background: $scrollbar-track-color;
    box-shadow: inset 0 0 5px grey;
  }
  &::-webkit-scrollbar-thumb {
    background: $color-2;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $scrollbar-hover;
  }
  // *<------------------------GENERAL---------------------------->
  margin: 0;
  padding: 0;
  height: 100vh;
  color: $color-1;
  font-family: "Bitter", serif;
  box-sizing: border-box;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

h1 {
  font-family: "Bitter", serif;
  color: $color-1;
}

.background {
  @include page-default;
}

// *<------------------------NAVIGATOR---------------------------->
// top level container for navigator
.navbar {
  position: fixed;
  background-color: $nav-background;
  transition: 200ms;
  z-index: 100;
}

// container holding individual navigation icons and a links
.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 100%;
}

// personal logo set at top of navbar
.logo {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: $scrollbar-track-color;
  img {
    transform: rotateY(0deg);
    transition: $transition-speed;
  }
}

// img element of logo - filter needed to be applied as the file is coded as an image and not an svg path. Using the attached link (https://codepen.io/sosuke/pen/Pjoqqp) i converted the hex color code to correct filter values.
.nav-logo {
  filter: invert(92%) sepia(5%) saturate(332%) hue-rotate(345deg)
    brightness(107%) contrast(91%);
  height: 3.5rem;
  width: 3.5rem;
}

// container used to hold a links
.nav-item {
  width: 100%;
}

// container holding icon and inline text seperately for alignment adjustments
.nav-link {
  display: grid;
  grid-template-columns: 40% 0;
  align-items: center;
  height: 3rem;
  color: $color-3;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: $transition-speed;
  i {
    margin: 0 0.5rem 0 1rem;
  }
  &:hover {
    filter: grayscale(0%) opacity(1);
    background: $color-4;
    color: $color-1;
  }
}

// link text hidden while static and appears when nav bar is hovered over
.link-text {
  display: none;
  margin-left: 1rem;
  font-family: "Mulish", sans-serif;
  font-weight: bold;
}

// sizing for nav icon
.nav-icon {
  font-size: 1.5rem;
}

// direct icon adjustments
.fas,
.fab,
.far {
  color: $color-2;
  transition: $transition-speed;
}

// navigator media query - small screens
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 3.75rem;
    margin-top: auto;
  }
  .logo {
    display: none;
  }
  .navbar {
    flex-direction: row;
  }
  .nav-link {
    display: flex;
    justify-content: center;
    i {
      margin: 0 0 0 0;
    }
  }
  main {
    margin: 0;
  }
}

// navigator media query - Large screens
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    height: 100vh;
    width: 3.75rem;
    &:hover {
      width: 9rem;
      .link-text {
        display: block;
      }
      img {
        transform: rotateY(360deg);
      }
    }
  }
  .navbar-nav {
    flex-direction: column;
  }
}

// *<------------------------FOOTER---------------------------->

.socials-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: absolute;
  width: 100%;
}

.social-link {
  text-decoration: none;
  animation: fade-in 3s ease;
}

.socials {
  margin: 0 15px 0 0;
  font-size: 2.5rem;
  &:hover {
    font-size: 3rem;
    color: $color-1;
  }
}

// small screens
@media only screen and (max-width: 600px) {
  .socials-container {
    align-items: flex-start;
    top: 0px;
    padding-top: 8px;
  }
}

// Large screens
@media only screen and (min-width: 600px) {
  .socials-container {
    align-items: flex-end;
    bottom: 0px;
    padding-bottom: 8px;
  }
}

// *<------------------------FRONT COVER LOGO---------------------------->

// Container for logo on home page
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93vh;
}

// styling for logo directly
.front-cover {
  filter: invert(92%) sepia(5%) saturate(332%) hue-rotate(345deg)
    brightness(107%) contrast(91%);
  width: 100%;
  height: 100%;
  animation: rotate-round 3s ease;
}

// *<------------------------ABOUT PAGE---------------------------->

// styling for root of about page
.about-root {
  background-image: url(../imgs/About/5162018-485.jpg);
  background-size: cover;
  background-position: 150px -70px;
}

// styling for main text box on about page
.about-block {
  background: $b-trans-box;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 2em 20em 2em;
  top: 5rem;
  left: 10em;
  width: 45%;
  height: 80%;
  box-shadow: 5px 10px 10px black;
  backdrop-filter: blur(5px);
  transition: ease;
  animation: fade-in;
  animation-duration: $transition-speed;
}

// styling for about header on about page
.page-header {
  font-size: 3em;
  margin-top: 1rem;
}

// styling for quote on about page
.quote-container {
  position: absolute;
  top: 15%;
  left: 60%;
  font-size: 4em;
  font-family: "EB Garamond", serif;
  animation: fade-in;
  animation-duration: $transition-speed;
  transition: ease;
}

.dp {
  display: none;
  img {
    height: 200px;
    width: 200px;
    border: 10px solid black;
    object-fit: none;
    object-position: -520px 40%;
    border-radius: 50%;
  }
}

@media only screen and (min-width: 856px) and (max-width: 1464px) {
  .quote-container {
    top: 0%;
  }
  .about-block {
    width: 50%;
  }
}

@media only screen and (max-width: 850px) {
  .about-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    backdrop-filter: blur(3px);
  }
  .about-block {
    position: relative;
    padding: 0 0.5em 0em 2em;
    width: 95%;
    top: 0;
    left: 0;
    margin-top: 10px;
    margin-bottom: 60px;
  }
  .quote-container {
    position: relative;
    left: 0;
    top: 30px;
    font-size: 3em;
  }
  p {
    margin-top: 0;
  }
  .dp {
    display: block;
  }
}

// *<------------------------BLOG PAGE---------------------------->

.default-page-header {
  @include margin-default;
}

.blog-header {
  background: rgba($scrollbar-track-color, 0.5);
}

.blog-container {
  background: linear-gradient($background-color, $color-4);
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  .blog-card {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    @include flex-center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    &:hover {
      .blog-content {
        transform: translateY(0px);
        opacity: 1;
      }
    }
    .blog-content {
      padding: 20px;
      text-align: center;
      transition: 0.5s;
      opacity: 0;
      transform: translateY(100px);
      .count {
        position: absolute;
        top: -140px;
        right: 10px;
        font-size: 7em;
        font-family: "Libre Baskerville", serif;
        color: rgba($color-1, 0.05);
        pointer-events: none;
      }
      .blog-heading {
        z-index: 1;
      }
      .blog-date,
      .blog-des {
        font-weight: 300;
      }
      a {
        position: relative;
        display: inline-block;
        padding: 8px 20px;
        margin-top: 15px;
        background: $color-1;
        color: $scrollbar-track-color;
        border-radius: 20px;
        text-decoration: none;
        font-weight: bold;
        box-shadow: 0 5px 15px rgba($scrollbar-track-color, 0.2);
      }
    }
  }
}
