@mixin page-default {
  background-color: $background-color;
  color: $color-1;
}

@mixin margin-default {
  font-size: 3em;
  margin-top: 20px;
  // margin-left: 10rem;
  padding-top: 0.5rem;
  padding-left: 200px;
  margin-bottom: 0;
  // width: 100vh;
}

@mixin flex-center {
  justify-content: center;
  align-items: center;
}
