// Colors
$background-color: #1f1f1f;
$logo-color: #f4f1ea;
$primary-color: #ffffff;
$secondary-color: #de7a00;
$tertiary-color: #b6b6b6;
$scrollbar-hover: #9c5500;
$scrollbar-track-color: #000000;
$nav-background: #0a0a0a;

// Transitions
$transition-speed: 600ms;
